#projects {
    border-top: 5px solid #be3144;
    background-color: #000;
    padding-bottom: 20px;
    width: 100%;

    h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 35px;
        color: #f0f0f0;
    }

    .nav {
        text-align: center;

        ul {
            li {
                display: inline-block;
                padding: 10px 10px 10px 0;
                cursor: pointer;
            }

            .text-all {
                color: #fff;
            }

            .text-react{
                color: #e74c3c;
            }

            .text-html-css {
                color: #2ecc71;
            }

            .text-materialize {
                color: #2980b9;
            }

            .text-bootstrap {
                color: #f1c40f;
            }

            .text-mini {
                color: #db0e9a;
            }
        }
    }

    .block-cover {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .box {
            border-radius: 4px;
            box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
            min-height: 200px;
            min-width: calc(22% - 28px);
            padding: 0 10px;
            margin: 15px;
            border-width: 3px;
            float: left;

        
            .portfolio-title {
                background-color: white;
            }
        }


        .react{
            border: 3px solid #e74c3c;
        }

        .html-css {
            border: 3px solid #2ecc71;
        }

        .materialize {
            border: 3px solid #2980b9;
        }

        .bootstrap {
            border: 3px solid #f1c40f;
        }

        .mini {
            border: 3px solid #db0e9a;
        }
    }
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes a1 {
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

/* MEDIA QUERY PROJECT */
@media (max-width: 767px) {
    #projects h2 {
        font-size: 30px;
    }
}

@media (max-width: 479px) {
    #projects h2 {
        font-size: 27px;
    }

    #projects .block-cover .box {
        min-height: 100px;
    }
}