#portfolio {
    border-top: 5px solid #be3144;
    background-color: #000;
    padding-bottom: 20px;
    width: 100%;

    h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 35px;
        color: #f0f0f0;
    }

    .portfolio-cards {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {
            width: 45%;
            height: auto;
            background-size: cover;
            overflow: hidden;
            text-align: center;
            margin-bottom: 20px;

            a {
                text-decoration: none;
            }

            ul {
                display: flex;
                border-top: 2px solid white;
                padding: 10px 0;

                li {
                    list-style: none;
                    font-size: 12px;
                    background-color: rgb(67, 46, 173);
                    margin-left: 5px;
                    padding: 2px 5px;
                }
            }


            img {   
                width: auto;
                max-width: 100%;
            }


            h3 {
                color: black;
                background-color: white;
                width: 100%;
                padding: 5px 0;
                position: relative;
                top: -5px;
            }
        }
    }
}


/* Общие стили */


.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.hover-text-one {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
}

.hover-text-one figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    background: #000000;
    text-align: center;
    cursor: pointer;
}

.hover-text-one figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.9;
}

.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
}

.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
    pointer-events: none;
}

.hover-text-one figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hover-text-one figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
    background: #000000;
}

figure.effect-text-three img {
    width: calc(100% + 20px);
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1);
    backface-visibility: hidden;
}

figure.effect-text-three:hover img {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
}

figure.effect-text-three p {
    padding: 1em 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(100%, 0, 0);
}

figure.effect-text-three ul {
    padding: 1em 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(100%, 0, 0);
}

figure.effect-text-three:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

figure.effect-text-three:hover ul {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 998px) {
    #portfolio h2 {
        font-size: 27px;
    }

    #portfolio h3 {
        font-size: 15px;
    }

    .hover-text-one figure p {
        letter-spacing: 1px;
        font-size: 55.5%;
    }
    .hover-text-one figure figcaption {
        padding: 1.5em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        backface-visibility: hidden;
    }
    
    
}

/* MEDIA QUERY PROJECT */
@media (max-width: 767px) {
    #portfolio h2 {
        font-size: 25px;
    }

    #portfolio h3 {
        font-size: 14px;
    }
    .hover-text-one figure figcaption {
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        backface-visibility: hidden;
    }
    .hover-text-one figure p {
        letter-spacing: 0.5px;
        font-size: 45.5%;
    }
    #portfolio .portfolio-cards .card ul li {
        list-style: none;
        font-size: 8px;
        background-color: #432ead;
        margin-left: 5px;
        padding: 2px 5px;
    }
    
    
}

@media (max-width: 550px) {
    #portfolio h2 {
        font-size: 24px;
    }



#portfolio .portfolio-cards .card {
    width: 80%;
}

#portfolio .portfolio-cards .card ul li {
    list-style: none;
    font-size: 11px;
    background-color: #432ead;
    margin-left: 5px;
    padding: 2px 5px;
}

.hover-text-one figure p {
    letter-spacing: 1px;
    font-size: 55.5%;
}
.hover-text-one figure figcaption {
    padding: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
}

    #projects .block-cover .box {
        min-height: 100px;
    }
}